# CMSE 201 First Project Checkpoint

### &#9989; Aaron Ko, Sit Soe, Sean O'Dwyer, Abdulla Alblooshi
### &#9989; Section_001

## Background and Motivation

PLACEHOLDER

## Methodology

We will analyze our data using pandas, numpy, and python functions.

### First, lets import everything we'll need:

In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
import statsmodels.api as sm

### Now that we have all our packages, lets start reading in our dataset that we'll need to answer our question

#### CSV file that will be used:
`FirstYearGPA.csv` contains data about first year college student's GPA as well as their high school GPA, SAT scores, among other things.

### Cleaning up the dataset:

In [37]:
data = pd.read_csv("FirstYearGPA.csv")
data.head()

,Unnamed: 0,GPA,HSGPA,SATV,SATM,Male,HU,SS,FirstGen,White,CollegeBound
0,1,3.06,3.83,680,770,1,3.0,9.0,1,1,1
1,2,4.15,4.00,740,720,0,9.0,3.0,0,1,1
2,3,3.41,3.70,640,570,0,16.0,13.0,0,0,1
3,4,3.21,3.51,740,700,0,22.0,0.0,0,1,1
4,5,3.48,3.83,610,610,0,30.5,1.5,0,1,1

### Combine the SATV and SATM data in to one column that represents the total SAT score

In [38]:
# combine the two columns
data["SATV"] = data["SATV"]+data["SATM"]
# drop the SATM column
data = data.drop("SATM", axis = 1)
# rename the SATV (combined score) column to SAT Score
data.rename(columns = {"SATV":"SAT Score"}, inplace = True)

### Drop NA and unnecessary columns in the data:

In [39]:
data = data.dropna()
data.head()

,Unnamed: 0,GPA,HSGPA,SAT Score,Male,HU,SS,FirstGen,White,CollegeBound
0,1,3.06,3.83,1450,1,3.0,9.0,1,1,1
1,2,4.15,4.00,1460,0,9.0,3.0,0,1,1
2,3,3.41,3.70,1210,0,16.0,13.0,0,0,1
3,4,3.21,3.51,1440,0,22.0,0.0,0,1,1
4,5,3.48,3.83,1220,0,30.5,1.5,0,1,1

In [40]:
attr_names = ["Unnamed: 0", "HSGPA", "SAT Score", "Male" , "HU", "SS", "FirstGen", "White", "CollegeBound"]

x_train = data[attr_names]
y_train = data['GPA']


model_log = sm.OLS(y_train, sm.add_constant(x_train))
results = model_log.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    GPA   R-squared:                       0.351
Model:                            OLS   Adj. R-squared:                  0.323
Method:                 Least Squares   F-statistic:                     12.54
Date:                Sun, 27 Nov 2022   Prob (F-statistic):           7.37e-16
Time:                        20:34:39   Log-Likelihood:                -95.487
No. Observations:                 219   AIC:                             211.0
Df Residuals:                     209   BIC:                             244.9
Df Model:                           9
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const            0.6096      0.370      1.649      0.101      -0.119       1.339
Unnamed: 0      -0.0004      0.000     -0.926      0.356      -0.001       0.000
HSGPA            0.4798      0.076      6.304      0.000       0.330       0.630
SAT Score        0.0003      0.000      1.539      0.125   -9.64e-05       0.001
Male             0.0438      0.055      0.789      0.431      -0.066       0.153
HU               0.0161      0.004      4.041      0.000       0.008       0.024
SS               0.0068      0.006      1.216      0.225      -0.004       0.018
FirstGen        -0.0788      0.089     -0.888      0.375      -0.254       0.096
White            0.2022      0.070      2.899      0.004       0.065       0.340
CollegeBound     0.0189      0.100      0.189      0.850      -0.179       0.217
==============================================================================
Omnibus:                        4.642   Durbin-Watson:                   2.087
Prob(Omnibus):                  0.098   Jarque-Bera (JB):                3.802
Skew:                          -0.221   Prob(JB):                        0.149
Kurtosis:                       2.531   Cond. No.                     1.81e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.81e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

## Results

PLACEHOLDER

## Conclusion

PLACEHOLDER

## Refrences

PLACEHOLDER